/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body, html, #clock {
    height: 100vh;
    background-color: #121212;
}

#clock {

    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 100vh;

    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 45px;
}

#formats {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 15px;
}
